* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.overlay {
  background-color: rgb(135, 206, 250, 0.3);
  height: 100%;
  padding: 40px;
}

.container {
  background-image: url("../images/aquaimages/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

/* Nav styling ------------------------------------------- */
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  height: 70px;
  padding: 5px;
  animation: logoflip 5s linear 1;
}

@keyframes logoflip {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(100deg);
  }
  50% {
    transform: skewX(360deg);
  }
  75% {
    transform: skewX(40deg);
  }
  100% {
    transform: skewY(-40deg);
  }
}

.logobox {
  width: 150px;
  height: 70px;
  padding: 5px;
  animation: logobox 4s linear infinite;
}

@keyframes logobox {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.menu button {
  display: none;
}

.menu .dropdown-content {
  display: flex;
  flex-direction: row;
}

.menu li {
  list-style: none;
  padding: 10px 20px;
  animation: menubuzz 4s ease-out 1;
}

@keyframes menubuzz {
  0% {
    border-radius: 5px;
    margin: 5px;
  }
  50% {
    border-radius: 10px;
    margin: 15px;
  }
  100% {
    border-radius: 5px;
    margin: 5px;
  }
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bolder;
  font-family: cursive;
}

a:hover {
  color: rgb(20, 20, 20);
}

.active {
  background-color: rgb(256, 256, 256, 0.3);
  color: orange;
  padding: 3px 10px;
  border-radius: 5px;
}

/* Nav ends here---------------------------------------- */

/* Main section ---------------------------------------- */
main {
  display: flex;
  flex-direction: column;
  /* text-align: left; */
  height: 78%;
  padding-top: 5%;
}

main div {
  width: 60%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(15, 15, 15);
}

main h4 {
  margin-bottom: 5px;
  color: rgb(39, 28, 6);
}

main h1 {
  margin-bottom: 5px;
  color: rgb(17, 13, 4);
}

.skills {
  margin-top: 40px;
  display: flex;
  align-items: center;
  min-width: 800px;
}

.skills h4 {
  line-height: 20px;
  border: 2px solid whitesmoke;
  padding: 35px 5px 35px 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.skills p {
  border: 1px solid whitesmoke;
  margin: 5px 0;
  padding: 3px;
  font-weight: bold;
  color: whitesmoke;
  font-family: sans-serif;
}

.pgbtabs {
  max-height: 25px;
  overflow: hidden;
}

.pgbhtml {
  background: rgb(163, 12, 12);
  animation: pgbhtml 6s linear 1;
}

@keyframes pgbhtml {
  0% {
    width: 0;
    visibility: hidden;
  }
  100% {
    visibility: visible;
    width: 85%;
  }
}

.pgbcss {
  background: rgb(12, 121, 12);
  animation: pgbcss 6s linear 1;
  width: 75%;
}

@keyframes pgbcss {
  0% {
    width: 0;
    visibility: hidden;
  }
  100% {
    width: 75%;
  }
}

.pgbjs {
  background: rgb(19, 19, 216);

  animation: pgbjs 6s linear 1;
  width: 18%;
}

@keyframes pgbjs {
  0% {
    width: 0;
    visibility: hidden;
  }
  100% {
    width: 18%;
  }
}

.pgbbts {
  background: rgb(25, 125, 155);
  animation: pgbbts 6s linear 1;
  width: 28%;
}

@keyframes pgbbts {
  0% {
    width: 0;
    visibility: hidden;
  }
  100% {
    width: 52%;
  }
}

.buttons{
    margin-top: 50px;
    width: 100%;
}

.buttons a{
    border: 2px solid whitesmoke;
    border-radius: 0 20px 0 20px;
    padding: 5px 20px;
    margin: 5px;
    font-size: 20px;
    color: rgb(211, 200, 200);
    text-shadow: black;
    text-align: center;
    background: rgb(25, 125, 155);
}

.buttons a:hover{
    background: rgb(34, 63, 71);
}


/* Bubbles */
.bubbles {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  /* height: 100%; */
  bottom: -50px;
  position: absolute;
}

.bubbles img {
  animation: bubble 10s linear infinite;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0.1;
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: translateY(-100vh);
    opacity: 1;
    width: calc(width+5px);
  }
  51% {
    transform: translateY(-100vh);

    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
  /* One full movement up*/
}

.bubbles img:nth-child(1) {
  width: 30px;
  height: 30px;
  animation-delay: 2s;
}

.bubbles img:nth-child(2) {
  width: 40px;
  height: 40px;
  animation-delay: 10s;
}

.bubbles img:nth-child(3) {
  width: 30px;
  height: 30px;
  animation-delay: 7s;
}

.bubbles img:nth-child(4) {
  width: 50px;
  height: 50px;
  animation-delay: 5s;
}

.bubbles img:nth-child(5) {
  width: 30px;
  height: 30px;
  animation-delay: 3s;
}

.bubbles img:nth-child(6) {
  width: 30px;
  height: 30px;
  animation-delay: 9s;
}

.bubbles img:nth-child(7) {
  width: 40px;
  height: 40px;
  animation-delay: 6s;
}

.bubbles img:nth-child(8) {
  width: 40px;
  height: 40px;
  animation-delay: 8s;
}

.bubbles img:nth-child(9) {
  width: 40px;
  height: 40px;
  animation-delay: 1s;
}

.bubbles img:nth-child(10) {
  width: 40px;
  height: 40px;
  animation-delay: 4s;
}

footer {
  width: 90%;
  display: flex;
  margin: 40px;
  align-items: center;
  bottom: 0;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(14, 11, 11);
  font-family: cursive;
  margin-top: 20px;
  padding-top: 10px;
}

footer p {
  animation: footnote 4s ease-in-out 1;
}

@keyframes footnote {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(20px, 20px);
  }
  50% {
    transform: translate(20px, -30px);
  }
  75% {
    transform: translate(-20px, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.smicons {
  display: flex;
  justify-content: left;
}

.icon img {
  margin: 10px;
  width: 40px;
  height: 40px;
  animation: smicons 5s ease-in-out infinite;
}

@keyframes smicons {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.icon img:nth-child(1) {
  animation-delay: 0.3s;
  
}

.icon img:nth-child(2) {
  animation-delay: 0.7s;
}

.icon img:nth-child(3) {
  animation-delay: 1s;
}

.mypix {
  position: absolute;
  top: 25%;
  left: 75%;
  background-color: rgb(135, 206, 235, 0.2);
  border-radius: 45%;
  animation: pixcrawl 8s linear 1;
}

.mypix img{
  
}

@keyframes pixcrawl {
  0% {
    transform: translate(200px, 250px);
  }
}


/* -------------------------------------------------------------- */
/* Media Query for Phones---------------------------------------- */
@media (max-width:786px) {
   
body{
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  height: auto;
}


.overlay{
  padding: 20px;
}

.mypix {
  position: static;
  top: 25%;
  left: 75%;
  /* background-color: rgb(135, 206, 235, 0.2); */
  /* border-radius: 45%; */
  /* animation: pixcrawl 8s linear 1; */
}

.menu .menu-button {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/square\ dots\ menu.png);
  background-color:whitesmoke ;
  background-position: center;
  background-repeat: no-repeat;
border-radius: 5px;
border:3px solid #0d4734 ;

}

.menu .dropdown-content {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgb(172, 189, 194);
  border:2px solid #0d4734;
  border-radius: 5px;
  position:absolute;
  right:0;
  padding: 20px 0;

}

.menu li {
  list-style: none;
  padding: 5px 20px;
  animation: none;
}

.menu a{
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid ;
}

.menu:hover .menu-button{
  background-image: url(../images/bold-x.png);
}

.menu:hover .dropdown-content{
  visibility: visible;
}

main div {
  margin-top: 20px;
  width: 100%;
}

 main h4 {
  margin: 10px 0;
}

main h1 {
    font-size: 25px;
}


.skills {
  flex-direction: column;
  min-width: 100%;
}
 
.skills h4 {
  padding: 5px 10%;
  flex-direction: row;
}


.buttons{
    display: flex;
    flex-direction: column;
}

footer{
  display: flex;
  flex-direction: column-reverse;
  margin-bottom:-10px;
  padding-top: 10px;
}


}